import os

# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'secretsauce'
DEBUG = True

# SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'postgresql://new_user:asdf@localhost/flask_family_recipe'
SQLALCHEMY_TRACK_MODIFICATIONS = True

# Enables the Cross-Site Request Forgery (CSRF) protection in WTF forms
WTF_CSRF_ENABLED = True

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15

# Flask-Mail configurations
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = 'family.recipes.mh@gmail.com'
MAIL_PASSWORD = 'Testing12'
MAIL_DEFAULT_SENDER = 'family.recipes.mh@gmail.com'